@using Aspiron.MVC.Domain;
@model BaseBrowserPageModel

@{
    ViewData["Title"] = "Edit Configuration";
}

<h2>Edit Configuration</h2>

<form method="post" asp-action="Save">
    <input type="hidden" asp-for="Version" />
    <input type="hidden" name="id" value="@ViewBag.ConfigKey" />

    <div class="mb-4">
        <h4>Page Texts</h4>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="PageTexts.BrowserTabTitle"></label>
                <input class="form-control" asp-for="PageTexts.BrowserTabTitle" />
            </div>
            <div class="col-md-6">
                <label asp-for="PageTexts.OperationName"></label>
                <input class="form-control" asp-for="PageTexts.OperationName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="PageTexts.ControllerTitle"></label>
                <input class="form-control" asp-for="PageTexts.ControllerTitle" />
            </div>
            <div class="col-md-6">
                <label asp-for="PageTexts.ActionTitle"></label>
                <input class="form-control" asp-for="PageTexts.ActionTitle" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label asp-for="PageTexts.ActionDescription"></label>
                <input class="form-control" asp-for="PageTexts.ActionDescription" />
            </div>
        </div>
    </div>

    <div class="mb-4">
        <h4>Table Columns</h4>
        <div id="table-columns-container">
            @for (int i = 0; i < Model.TableColumns.Columns.Count; i++)
            {
                <div class="column-item border p-2 mb-2">
                    <div class="row">
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Columns[i].FieldName"></label>
                            <input class="form-control" asp-for="TableColumns.Columns[i].FieldName" />
                        </div>
                        <div class="col-md-1">
                            <label asp-for="TableColumns.Columns[i].Sequence"></label>
                            <input class="form-control" asp-for="TableColumns.Columns[i].Sequence" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Columns[i].HeaderText"></label>
                            <input class="form-control" asp-for="TableColumns.Columns[i].HeaderText" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Columns[i].ShortText"></label>
                            <input class="form-control" asp-for="TableColumns.Columns[i].ShortText" />
                        </div>
                        <div class="col-md-1">
                            <label asp-for="TableColumns.Columns[i].Visible"></label>
                            <input type="checkbox" asp-for="TableColumns.Columns[i].Visible" />
                        </div>
                        <div class="col-md-1">
                            <label asp-for="TableColumns.Columns[i].Width"></label>
                            <input class="form-control" asp-for="TableColumns.Columns[i].Width" />
                        </div>
                        <div class="col-md-1">
                            <label asp-for="TableColumns.Columns[i].ResponsivePriority">Respons.</label>
                            <input class="form-control" asp-for="TableColumns.Columns[i].ResponsivePriority" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Columns[i].DataType"></label>
                            <select class="form-select" asp-for="TableColumns.Columns[i].DataType" asp-items="Html.GetEnumSelectList<EnumBasicDataTypes>()"></select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm mt-2 remove-column">Remove</button>
                </div>
            }
        </div>
        <button type="button" id="add-column" class="btn btn-outline-primary mt-2">Add Column</button>
    </div>

    <div class="mb-4">
        <h4>Actions</h4>
        <div id="actions-container">
            @for (int i = 0; i < Model.TableColumns.Actions.Count; i++)
            {
                <div class="action-item border p-2 mb-2">
                    <div class="row">
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Actions[i].DisplayText"></label>
                            <input class="form-control" asp-for="TableColumns.Actions[i].DisplayText" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Actions[i].CssVisual"></label>
                            <input class="form-control" asp-for="TableColumns.Actions[i].CssVisual" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Actions[i].IdField"></label>
                            <input class="form-control" asp-for="TableColumns.Actions[i].IdField" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Actions[i].Area"></label>
                            <input class="form-control" asp-for="TableColumns.Actions[i].Area" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Actions[i].Controller"></label>
                            <input class="form-control" asp-for="TableColumns.Actions[i].Controller" />
                        </div>
                        <div class="col-md-2">
                            <label asp-for="TableColumns.Actions[i].Action"></label>
                            <input class="form-control" asp-for="TableColumns.Actions[i].Action" />
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm mt-2 remove-action">Remove</button>
                </div>
            }
        </div>
        <button type="button" id="add-action" class="btn btn-outline-primary mt-2">Add Action</button>
    </div>

    <div class="mb-4">
        <h4>Conditional Colors</h4>
        <div id="colors-container">
            @for (int i = 0; i < Model.CondColors.Count; i++)
            {
                <div class="color-item border p-2 mb-2 row">
                    <div class="col-md-2">
                        <label asp-for="CondColors[i].Sequence"></label>
                        <input class="form-control" asp-for="CondColors[i].Sequence" />
                    </div>
                    <div class="col-md-4">
                        <label asp-for="CondColors[i].Condition"></label>
                        <input class="form-control" asp-for="CondColors[i].Condition" />
                    </div>
                    <div class="col-md-3">
                        <label asp-for="CondColors[i].BackColor"></label>
                        <input class="form-control" asp-for="CondColors[i].BackColor" />
                    </div>
                    <div class="col-md-3">
                        <label asp-for="CondColors[i].FontColor"></label>
                        <input class="form-control" asp-for="CondColors[i].FontColor" />
                    </div>
                    <button type="button" class="btn btn-danger btn-sm remove-color mt-2">Remove</button>
                </div>
            }
        </div>
        <button type="button" id="add-color" class="btn btn-outline-primary mt-2">Add Color Rule</button>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let columnIndex = @Model.TableColumns.Columns.Count;
        let actionIndex = @Model.TableColumns.Actions.Count;
        let colorIndex = @Model.CondColors.Count;

        $('#add-column').click(function () {
            const html = `
                    <div class="column-item border p-2 mb-2">
                        <div class="row">
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Columns[${columnIndex}].FieldName" placeholder="Field" /></div>
                            <div class="col-md-1"><input class="form-control" name="TableColumns.Columns[${columnIndex}].Sequence" placeholder="Sequence" /></div>
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Columns[${columnIndex}].HeaderText" placeholder="Header" /></div>
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Columns[${columnIndex}].ShortText" placeholder="Short" /></div>
                            <div class="col-md-1"><input type="checkbox" name="TableColumns.Columns[${columnIndex}].Visible" checked /></div>
                            <div class="col-md-1"><input class="form-control" name="TableColumns.Columns[${columnIndex}].Width" value="100" /></div>
                            <div class="col-md-1"><input class="form-control" name="TableColumns.Columns[${columnIndex}].ResponsivePriority" value="1" /></div>
                            <div class="col-md-2">
                                <select class="form-select" name="TableColumns.Columns[${columnIndex}].DataType">
                                    <option value="0">String</option>
                                    <option value="1">Number</option>
                                    <option value="2">Date</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm mt-2 remove-column">Remove</button>
                    </div>`;
            $('#table-columns-container').append(html);
            columnIndex++;
        });

        $('#table-columns-container').on('click', '.remove-column', function () {
            $(this).closest('.column-item').remove();
        });

        $('#add-action').click(function () {
            const html = `
                    <div class="action-item border p-2 mb-2">
                        <div class="row">
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Actions[${actionIndex}].DisplayText" placeholder="Text" /></div>
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Actions[${actionIndex}].CssVisual" value="btn-primary" /></div>
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Actions[${actionIndex}].IdField" /></div>
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Actions[${actionIndex}].Area" /></div>
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Actions[${actionIndex}].Controller" /></div>
                            <div class="col-md-2"><input class="form-control" name="TableColumns.Actions[${actionIndex}].Action" /></div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm mt-2 remove-action">Remove</button>
                    </div>`;
            $('#actions-container').append(html);
            actionIndex++;
        });

        $('#actions-container').on('click', '.remove-action', function () {
            $(this).closest('.action-item').remove();
        });

        $('#add-color').click(function () {
            const html = `
                    <div class="color-item border p-2 mb-2 row">
                        <div class="col-md-2"><input class="form-control" name="CondColors[${colorIndex}].Sequence" value="0" /></div>
                        <div class="col-md-4"><input class="form-control" name="CondColors[${colorIndex}].Condition" placeholder="Condition" /></div>
                        <div class="col-md-3"><input class="form-control" name="CondColors[${colorIndex}].BackColor" placeholder="Back Color" /></div>
                        <div class="col-md-3"><input class="form-control" name="CondColors[${colorIndex}].FontColor" placeholder="Font Color" /></div>
                        <button type="button" class="btn btn-danger btn-sm remove-color mt-2">Remove</button>
                    </div>`;
            $('#colors-container').append(html);
            colorIndex++;
        });

        $('#colors-container').on('click', '.remove-color', function () {
            $(this).closest('.color-item').remove();
        });
    </script>
}
